
name: reviews-service CI + DockerHub (build & push)

on:
  push:
    branches: ["master", "main"]
    paths:
      - "reviews-service/**"
      - ".github/workflows/reviews-ci-dockerhub.yml"
  pull_request:
    branches: ["master", "main"]
    paths:
      - "reviews-service/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r reviews-service/requirements.txt
      - name: Run tests
        run: |
          cd reviews-service
          pytest -q

  build-and-push:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: ./reviews-service
          file: ./reviews-service/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/reviews-service:latest
            ${{ secrets.DOCKER_USERNAME }}/reviews-service:${{ github.sha }}
